PORT=8080
REACT_APP_DEFAULTAUTH=fake
REACT_APP_API=http://localhost:5001/api
REACT_APP_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
REACT_APP_DAILY_SMS_API=https://api.demo.edu/sms/send

REACT_APP_AUTHDOMAIN=your_auth_domain_here
REACT_APP_DATABASEURL=your_database_url_here
REACT_APP_PROJECTID=your_project_id_here
REACT_APP_STORAGEBUCKET=your_storage_bucket_here
REACT_APP_MESSAGINGSENDERID=your_messaging_sender_id_here
REACT_APP_APPID=your_app_id_here
REACT_APP_MEASUREMENTID=your_measurement_id_here
